#titleBar{
  background-color: rgb(51, 153, 255);
  color: white;
  padding-left:50px;
  padding-top: 1px;
  padding-bottom: 1px;
  top:0px;
}


#tabMenu{
  background-color: rgb(51, 153, 255);
}

#titleBar h1{
  font-size: 5em;
}

#titleBar p{
  font-size: 2em;
}